{
  "root": true,
  "extends": [
    "plugin:@shopify/typescript",
    "plugin:@shopify/graphql",
    "plugin:@shopify/prettier"
    // "plugin:@shopify/jest"
  ],
  "rules": {
    "@typescript-eslint/no-extraneous-class": [1]
  },
  "overrides": [
    {
      "files": ["*.config.js"],
      "extends": ["plugin:@shopify/node"]
    }
  ]
}
