{
  "root": true,
  "extends": [
    "plugin:@shopify/typescript",
    "plugin:@shopify/graphql",
    "plugin:@shopify/prettier",
    "plugin:@shopify/jest"
  ],
  "rules": {
    "jest/valid-title": [0],
    "jest/lowercase-name": [0]
  },
  "overrides": [
    {
      "files": ["*.module.ts"],
      "rules": {
        "@typescript-eslint/no-extraneous-class": [0]
      }
    },
    {
      "files": ["*.config.js"],
      "extends": ["plugin:@shopify/node"]
    }
  ]
}
